* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

main {
    height: calc(100vh - 3rem);
}

.flashes {
    transition: all 0.4s ease-in-out;
}